.app{
display:flex;
min-height:100vh;
}

.sidebar{
width:220px;
background:#111827;
color:#fff;
padding:20px;
position:sticky;
top:0;
}

.sidebar a{
display:block;
color:#ccc;
padding:10px;
text-decoration:none;
border-radius:5px;
margin-bottom:5px;
}

.sidebar a:hover,
.sidebar a.active{
background:var(--primary);
color:#fff;
}

.content{
flex:1;
padding:20px;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.two-col{
display:grid;
grid-template-columns:1fr 2fr;
gap:20px;
}


.login-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}


@media(max-width:1199px){
.grid{grid-template-columns:repeat(2,1fr)}
}

@media(max-width:768px){
.sidebar{width:70px}
.grid{grid-template-columns:1fr}
.two-col{grid-template-columns:1fr}
}
