:root{
--primary:#2563eb;
--bg:#f4f6fa;
--card:#ffffff;
--text:#222;
}

body{
margin:0;
font-family:Segoe UI, Arial;
background:var(--bg);
color:var(--text);
}

h1,h2,h3{margin:0 0 10px}
